<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>chennai jobs information</title>
   <link rel="stylesheet" href="{%static "css/jobs.css"%}">
</head>
<body>
   <h1>Chennai Jobs Infomation</h1>
   <img src="{%static "images/chennai1.jfif"%}" alt="">
   <img src="{%static "images/chennai2.jfif"%}" alt="">
   <img src="{%static "images/chennai3.jfif"%}" alt=""><hr>
   {% if jobs_list%}
   <table>
      <thead>
         <th>Date</th>
         <th>Company</th>
         <th>Title</th>
         <th>Eligibility</th>
         <th>Address</th>
         <th>Email</th>
         <th>Phone Number</th>
      </thead>
      {% for job in jobs_list%}
      <tr>
         <td>{{job.date}}</td>
         <td>{{job.company}}</td>
         <td>{{job.title}}</td>
         <td>{{job.eligibility}}</td>
         <td>{{job.address}}</td>
         <td>{{job.email}}</td>
         <td>{{job.phonenumber}}</td>
      </tr>
      {%endfor%}
   </table>
   {%else%} 
   <p id="specialp">No Jobs found in Chennai</p>
   {%endif%}
</body>
</html>